.main-profile{
    text-align: -webkit-center;
}

h2{
    text-align: center;
    color: black;
}

.section-userDetail{
    width: fit-content;
    border: 3px solid #d68383;
    margin: 2% 0;
}

.img-user{
    width: 8rem;
    height: 8rem;
}

.container-user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: auto;
}

.description-user{
    padding: 0.5rem 0;
    color: black;
    display: flex;
    padding-left: 1rem;
}

.userDetail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:782px) {
    .container-user{
        width:50vw;
    }
}

@media screen and (min-width:1024px) {
    .section-userDetail{
        flex-direction: row;
    }
    #birthDay-user{
        width: 50%;
    }
}