<footer>
    <div class="content">
        <div class="links">
            <div class="logo-footer-container">
                <a href = "/">
                    <img src="/images/imagen-logo-ultimo.png" alt="Tienda Virtual" class="logo-footer" />
                </a>
                
                <ul class="contact-location">
                    <li>
                        <i class="fa-solid fa-phone-flip"></i>
                        <p>123-456-7891</p>
                    </li>

                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        <p>1234 calle, Posadas, Misiones - Argentina</p>
                    </li>
                </ul>
            </div>
            
            <ul class="lista-footer">
                <p>Enlaces</p>
                <li><a href="/">Inicio</a></li>
                <li><a href="https://api.whatsapp.com/send?=phone=1234567891" target="_blank">Contacto</a></li>
            </ul>
            
            <div class="icons-footer">
                <p class="Title-social">Redes Sociales</p>
                <a href="https://www.instagram.com/tiendavirtual.com" target="_blank" class="fa-brands fa-instagram"><p>Instagram</p></a>
                <a href="https://discord.com.gg/r9Ax6KU5" class="fa-brands fa-discord" target="_blank"><p>Discord</p></a>
            </div>
        </div>
    </div>

    <a href="https://api.whatsapp.com/send?=phone=1234567891" class="btn-wsp" target="_blank">
        <i class="fa-brands fa-whatsapp" id="wpp"></i>
    </a>

</footer>